
// .navbar{
//     background-color: #222
// }
// .navbar > a >.site-name{
//     color:white}
// .navbar .links{
//     background-color: #222222 !important}
// .navbar .links a,.title{
//     color: white
// }

// .nav-dropdown a{
//     color: black !important}